{% if level > 0 and level <= 6 %}
	{% set tag = 'h' ~ level %}
{% else %}
	{% set tag = 'div' %}
{% endif %}

<{{tag}} id="{{ headline_group_id }}" class="headline-group {{ headline_group_variant }}">
	{% block headline_group %}
		{% include 'molecules-headline-group-super' with { text: super } %}
		{% include 'molecules-headline-group-head' with { text: head|default(fake('bs')), linked: headline_group_linked } %}		
		{% include 'molecules-headline-group-sub' with { text: sub } %}
	{% endblock %}
</{{tag}}>

