<a href="/patternlab" class="lockup">
	<div class="lockup__main">
		<div class="lockup__logo">
			{% include 'atoms-uk-logo' %}
		</div>
		<div class="lockup__wordmark">
			<span class="lockup__wordmark__row">{{lockup_wordmark_1 | default('Department of Integrated') }}</span>
			<span class="lockup__wordmark__row">{{lockup_wordmark_2 | default('Strategic Comminication') }}</span>
		</div>
	</div>
	<!-- This is the longest college name so far -->
	<div class="lockup__unit">{{ lockup_unit|default('College of Agriculture, Food and Environment') }}</div>
</a>