.global-header {
  .slab.global-header__nav-bar {
    display: none;
    padding: rr-gridbase(1);
  }

  .slab.mobile-nav {
    padding: 0;
  }

  .utility-nav {
    display: none;
  }

  @include rr-break-directive(l) {
    .slab.global-header__masthead {
      padding: rr-gridbase(3) rr-gridbase(1) rr-gridbase(1);
    }

    .slab.global-header__nav-bar {
      display: block;
    }

    .slab.mobile-nav {
      display: none;
    }

    .slab.global-header__nav-bar {

      .slab__wrapper {
        padding: rr-grid-remainder(1px, 1.5) 0 rr-gridbase(1.5);
        border-top: 1px color(light-gray) solid;
      }
    }

    .utility-nav {
      display: block;
    }
  }

  @include rr-break-directive(xl) {
    .slab.global-header__masthead {
      padding: rr-gridbase(3) 0 rr-gridbase(1);
    }

    .slab.global-header__nav-bar {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.global-header__banner {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;

  .uky-logo-main {
    width: 23.118rem;
    height: rr-gridbase(12);
  }


  .toggle-button {
    align-self: center;
  }

  @include rr-break-directive(l) {
    .toggle-button {
      display: none;
    }

    .menu-button {
      display: none;
    }
  }
}


