.universal-footer {
  padding-top: rr-gridbase(4);
  padding-bottom: rr-gridbase(4);
  background-color: color(wildcat-blue);

  .uk-wordmark {
    display: block;
    width: 70vw;
    height: 7.14vw;
    margin: 0 auto rr-gridbase(2);

    @include rr-break-directive(l) {
      width: 20rem;
      height: 2.04rem;
    }
  }
}

.universal-footer__ribbon {
  a {
    line-height: 17px;
    text-decoration: none;

    // Text-shadow serves as a knockout of the underline around the text
    text-shadow: 1px 0 1px color(wildcat-blue), 2px 0 1px color(wildcat-blue), -1px 0 1px color(wildcat-blue), -2px 0 1px color(wildcat-blue);

    &.underline-link {
      @include underline-link($d: color(wildcat-white), $h: color(light-blue-tint), $w: 1px, $alpha: .6);
      @include link-colors($d: color(wildcat-white), $h: color(wildcat-white));
      font-weight: normal;
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-shadow: none;
    }

    .icon-label {
      .label {
        @include underline-link($d: color(wildcat-white), $h: color(light-blue-tint), $w: 1px, $alpha: .6);
        @include link-colors($d: color(wildcat-white), $h: color(light-blue-tint));
        font-weight: normal;
        text-decoration: none;
      }
    }
  }

  .ic--pin {
    position: relative;
    top: .125rem;
    font-size: .93em;
  }

  > * {
    margin-bottom: rr-gridbase(2);
  }

  @include rr-break-directive(l) {
    display: flex;
    align-items: stretch;
    justify-content: center;

    > * {
      margin-right: -1px;
      margin-bottom: 0;
      padding: 0 rr-gridbase(2);
      border-right: 1px color(light-blue-tint) solid;
      border-width: 0 1px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-width: 0;
      }
    }
  }
}
