.universal-header {
  @include usescheme($scheme-dark);
  display: none;
  padding-top: rr-gridbase(1.5);
  padding-bottom: rr-gridbase(1.5);
  background-color: color(wildcat-blue);

  .universal-header__layout {
    justify-content: space-between;
    @include rr-break-directive(m) {
      display: flex;
    }
  }

  &.clamp--wildcat {
    background-color: color(dark-blue);
  }

  @include rr-break-directive(l) {
    display: block;
  }
}

