{% embed 'molecules-slab' with { slab_variant : slab_variant|default('slab--wildcat-white')} %}
    {% block slab_content %}
        {% include 'molecules-headline-group' %}    
        {% include 'atoms-formatted-text' %}
        {% include 'molecules-carousel' with { level: 3, linked: true, carousel_variant : carousel_variant, carousel_layout: carousel_layout } %} 
    {% endblock %}
{% endembed %}