{# COLORS #}
{# comment out any swatches not needed by your palette #}

{% set colorset = ['wildcat-blue','wildcat-white','wildcat-black'] %}
{% set secondarycolors = ['blue-black','dark-blue','almost-wildcat-blue','medium-blue','light-blue-shade','light-blue','light-blue-tint','blue-gray','dark-gray','light-gray','subtle-gray','barely-gray'] %}
{% set othercolors = ['success','info','warning','alert'] %}
{% embed 'molecules-slab' %}
	{% block slab_content %}
		<h2>Primary Colors</h2>
		<div class="sg-colors">
			{% for i in colorset %}
			<div class="sg-colors__column">
				{{ i|titleize }} <pre>color({{ i }})</pre>
				<span class="sg-swatch bg-{{ i }}"></span>
			</div>
			{% endfor %}
		</div>
	{% endblock %}
{% endembed %}

{% embed 'molecules-slab' %}
	{% block slab_content %}
		<h2>Secondary Colors</h2>
		<div class="sg-colors">
			{% for i in secondarycolors %}
			<div class="sg-colors__column">
				{{ i|titleize }} <pre>color({{ i }})</pre>
				<span class="sg-swatch bg-{{ i }}"></span>
			</div>
			{% endfor %}
		</div>
	{% endblock %}
{% endembed %}


{% embed 'molecules-slab' %}
	{% block slab_content %}
		<h2>Utility Colors</h2>
		<div class="sg-colors">
			{% for i in othercolors %}
			<div class="sg-colors__column">
				{{ i|titleize }} <pre>color({{ i }})</pre>
				<span class="sg-swatch bg-{{ i }}"></span>
			</div>
			{% endfor %}
		</div>
	{% endblock %}
{% endembed %}



