{% set sizes = ["xs","s","m","l","xl","2xl","3xl","4xl","5xl"] %}
{% set sentences = fake('sentences',{nb: 10, asText: true} ) %}

{% embed 'molecules-slab' with { slab_variant : "slab--transparent" } %}
    {% block slab_content %}
    <h2>Avenir Next</h2>
    <div class="font-avenirnext">
        <p>Normal text | {{ sentences }}</p>
        <p style="font-style: italic ">Italic text | {{ sentences }}</p>
        <p style="font-weight: 500;">Medium text | {{ sentences }}</p>
        <p style="font-style: italic; font-weight: 500;">Medium italic text | {{ sentences }}</p>
        <p style="font-weight: bold;">Bold text | {{ sentences }}</p>
        <p style="font-style: italic; font-weight: bold;">Bold italic text | {{ sentences }}</p>
    </div>
    {% endblock %}
{% endembed %}

{% embed 'molecules-slab' with { slab_variant : "slab--transparent" } %}
    {% block slab_content %}
        <div class="font-mercury">
        <p>Normal text {{ sentences }}</p>
        <p style="font-style: italic ">Italic text {{ sentences }}</p>
        <p style="font-weight: bold;">Bold text {{ sentences }}</p>
        <p style="font-style: italic; font-weight: bold;">Bold italic text {{ sentences }}</p>
        </div>
    {% endblock %}
{% endembed %}



