<figure>
	{% block figure_media %}
		{% include 'atoms-image' with { aspect: aspect|default("4:3"), width: width|default(600) } %}
	{% endblock %}
	<figcaption>
		{% block figure_caption %}
			{% include 'atoms-paragraph' %}
			{% include 'atoms-cite' %}
		{% endblock %}
	</figcaption>
</figure>
