// Normalize heading sizes; headings in a 
// display context should have an additional 
// font style applied to them.

h1,
h2,
h3,
h4,
h5,
h6 {
  @include rr-font-compute(l, tight);
  font-weight: normal;
}

.editorial {
  @each $tag, $config in $editorial-headings {
    #{$tag},
    #{$tag}.headline-group .headline-group__head {
      @include rr-heading($tag, $editorial-headings);
      margin-top: 0;
      margin-bottom: rr-gridbase(2);
    }

    aside h2 {
      font-family: $font-avenirnext;
    }
  }
}

.heading--display {
  @include rr-font-compute(3xl, tight);
  position: relative;
  margin-bottom: 2rem;
  font-family: $font-mercury;

  span {
    display: inline-block;
    position: relative;
    padding-right: 2rem;
    background-color: color(wildcat-white);
    z-index: 1;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: .15em;
    left: 0;
    height: 2px;
    background-image: repeating-linear-gradient(to right, #{color(light-gray)}, #{color(light-gray)} 3px, transparent 3px, transparent 7px);
    content: '';
    z-index: 0;
  }

  @at-root .slab #{&}:last-child {
    margin-bottom: 2rem;
  }

  @at-root .grid__column--major #{&} {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  @include rr-break-directive('m') {
    margin-bottom: 3rem;
    @at-root .slab #{&}:last-child {
      margin-bottom: 3rem;
    }
  }

  @include rr-break-directive('l') {
    margin-bottom: 5.5rem;
    @at-root .slab #{&}:last-child {
      margin-bottom: 5.5rem;
    }
  }
}


