@import 'global/colors';
@import 'global/font-styles';
@import 'global/placeholder';
@import 'global/uky-logo-main';

html {
  box-sizing: border-box;
}

body {
  @include usescheme($scheme-light);
  margin: 0;
  padding: 0;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  b {
    font-weight: 600;
  }
}

.default-colors {
  @include usescheme($scheme-light);
}

.dark-colors {
  @include usescheme($scheme-light);
}

// Prep images to be responsive
img {
  display: block;
  width: 100%;
  height: auto;
}

// Between the top and bottom margins, this should
// take up exactly 3 vertical grid units. The HR
// itself should display in the middle of, not the top or 
// bottom of, one of those grid spaces.
hr {
  margin-top: calc(#{rr-gridbase(2.5)} - 1px);
  margin-bottom: rr-gridbase(2.5);
  border: 1px dashed color(light-gray);
  border-width: 0 0 1px;
}

// Hide component from sighted users,
// maintain for screen readers
// show-for-sr is used in most case,
// `invisible` is used by the modal JS library
.show-for-sr,
.invisible {
  display: block;
  position: absolute;
  top: -999999em;
  left: -999999em;
}

.show-for-none {
  display: none;
}

//sass-lint:disable-block no-vendor-prefixes
button::-moz-focus-inner {
  border: 0;
}
