@import 'page-headers/text-header';
@import 'page-headers/hero';
@import 'page-headers/split';

.page-header {
  position: relative;
  padding-top: rr-grid-remainder(2px, 6);
  border-top: 2px color(light-gray) solid;

  @each $color in $colors {
    &.slab--#{$color} {
      @if ($color ne 'wildcat-white') {
        padding-top: rr-gridbase(6);
        border-width: 0;
      }
    }
  }

  &.slab--blue-gray,
  &.slab--dark-blue,
  &.slab--wildcat-blue {
    padding-bottom: rr-grid-remainder(4px, 6);

    .slab__wrapper {
      padding-bottom: 0;
      border-width: 0;
    }
  }

  &.slab--dark-blue,
  &.slab--wildcat-blue {
    border-bottom-color: color(light-blue);
  }

  .slab__wrapper {
    padding-bottom: rr-grid-remainder(4px, 5);
    border-bottom: 4px color(almost-wildcat-blue) solid;
  }

  h1 {
    &.headline-group {
      margin-bottom: 0;
    }

    .headline-group__head {
      @include rr-font-compute(5xl, medium);
      font-family: $font-mercury;
      font-weight: 600;
    }

    .headline-group__sub,
    .headline-group__super {
      @include rr-font-compute(2xl, tight);
      font-weight: 600;
      text-transform: uppercase;
    }

    .headline-group__sub {
      margin-top: rr-gridbase(2);
    }

    .headline-group__super {
      margin-bottom: rr-gridbase(0);
    }
  }

  .cta-group {
    margin-top: rr-gridbase(4);
  }
}
