{% set searchid = "search-keywords"|uniqid %}
<form class="search" method="post">
  <label for="searchid">Search our Site</label>
  <div class="control-group">
    <input type="text" id="search-keywords|" />
    <button class="icon-only">
      {% include 'atoms-icon-label' with { icon: 'magnify', label: 'search' } %}
    </button>
  </div>
</form>