<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
	<head>
		<title>Patternlab {{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />

		<!-- Style dependency for modals -->
		<!--
		<link rel="stylesheet" href="https://unpkg.com/magnific-popup@^1.1/dist/magnific-popup.css">
		-->
		
		<script src="../../js/lib/jquery.min.js" defer></script>
		<script src="../../js/lib/jquery.fitvids.js" defer></script>
		
		<!--
			This modernizr library is custom built by gulp after scanning CSS files.
			It will change often during production.
		-->
		<script src="../../js/lib/modernizr-custom.js" defer></script>

		
		<script src="../../js/lib/baseline.js" defer></script>
		<script src="../../js/lib/masonry.pkgd.min.js" defer></script>
		<script src="../../js/lib/imagesloaded.pkgd.min.js" defer></script>
		<script src="../../js/lib/jquery.magnific-popup.min.js" defer></script>
		<script src="../../js/lib/jquery-accessible-accordion.js" defer></script>
		<script src="../../js/lib/jquery-accessible-tabs-aria.js" defer></script>
		<script src="../../js/lib/slick/slick.min.js" defer></script>
		
		
		<!-- Project scripts -->
		<script src="../../js/tabs.js" defer></script>
		<script src="../../js/accordion.js" defer></script>
		<script src="../../js/carousel.js" defer></script>
		<script src="../../js/modals.js" defer></script>
		<script src="../../js/image-gallery.js" defer></script>
		<script src="../../js/ambient-video.js" defer></script>
		<script src="../../js/toggle-button.js" defer></script>
		<script src="../../js/responsive-table.js" defer></script>
		<script src="../../js/main.js" defer></script>
		
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead|raw }}
		<script src="../../js/patternlab.js" defer></script>
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
