{% set uniqid = "UniversalNavLabel"|uniqid %}
<nav class="universal-nav" aria-labeledby="{{ uniqid }}">
    <div class="show-for-sr" id="{{ uniqid }}">University-wide Navigation</div>
    {% for link in extra_links %}
        {% include 'atoms-link' with { label: link } %}
    {% endfor %}
    {% include 'atoms-my-uk-logo' %}
    {% include 'molecules-search-control' %}
</nav>
