{% set default_headline = fake('words',{ nb: 3 + random(5), asText: true }) %}
{% embed 'molecules-slab' with {slab_variant : slab_variant|default('slab--wildcat-white') ~ " page-header page-header--hero " ~ hero_variant} %}
    {% block slab_outer %}
        {% if ambient_video %}
            {% include 'molecules-ambient-video' %}
        {% else %}
            {% include 'atoms-image' with {aspect: "16:9", width: 2400} %}
        {% endif %}
        <div class="slab__wrapper">
            <div class="page-header__content">
                {% include 'molecules-headline-group' with { level : 1, head:head|default(default_headline)|titleize } %}
                {% if with_cta %}
                    {% include 'molecules-cta-group' %}
                {% endif %}
            </div>
            {% if secondary_image %}
                <div class="page-header__secondary-img">
                    {% include 'atoms-image' with {aspect: "1:1", width: 710} %}
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}