.breadcrumbs {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;

    &::after {
      margin-right: .3em;
      margin-left: .5em;
      content: '/';
    }

    &:last-child::after {
      display: none;
    }
  }

  a {
    @include underline-link;

    &:link,
    &:visited {
      color: color(dark-blue);
    }
  }
}
