.section-nav {

  h2,
  h3,
  h4 {
    margin: 0;
  }

  ol,
  ul {
    margin: rr-gridbase() 0;
    padding-left: rr-gridbase(0);
    list-style: none;

    li {
      padding-bottom: rr-gridbase(1);
      @include rr-font-compute(r, medium);

      &:last-child {
        padding-bottom: 0;
      }

      a {
        text-decoration: none;
      }
    }

    @include rr-break-directive(m) {
      padding-left: rr-gridbase(3);
    }
  }

  @at-root .js-tabcontent #{&} {
    margin: rr-gridbase(2) rr-gridbase(4);
  }

  // We need to hide the sidebar navigation
  // in the sidebar on screens where it's 
  // injected into the mobile navigation
  @at-root .grid__column--minor #{&} {
    display: none;

    @include rr-break-directive(l) {
      display: block;
    }
  }
}

.section-nav--bordered {
  @include block-spacing;
}

@each $name, $color in $colors {
  .section-nav--#{$name} {
    @include block-spacing;
    border-color: $color;
    background-color: $color;

    @if (contrast($color, color(wildcat-black)) < 4.5) {
      @include usescheme($scheme-dark);
    }

    @include rr-break-directive(m) {
      nav {
        margin-left: rr-gridbase(-3);
      }
    }
  }
}
