.utility-nav {
  a {
    @include rr-font-compute(l, medium);
    display: block;
    margin-bottom: rr-gridbase(2);
    transition: color .3s ease-in-out;
    font-weight: 500;
    text-transform: uppercase;

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include rr-break-directive(l) {
    @include rr-font-compute(r, medium);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: rr-gridbase(2);
    text-transform: none;

    a {
      display: inline;
      margin-bottom: 0;
      @include rr-font-compute(r, tight);
      margin-left: rr-gridbase(6);
    }
  }
}
