.teaser {
  .headline-group {
    .headline-group__sub,
    .headline-group__super {
      @include rr-font-compute(xl, medium);
      font-weight: 500;
      text-transform: uppercase;
    }

    .headline-group__head {
      @include rr-font-compute(3xl, medium);
    }
  }
}

.teaser__media {
  margin-bottom: 1.5rem;

  a {
    display: block;
    background-color: color(wildcat-blue);

    img {
      transition: .3s opacity ease-in-out;
    }

    &:hover,
    &:visited {
      img {
        opacity: .7;
      }
    }
  }
}

.teaser__content {
  .editorial {
    @include rr-font-compute(l, medium);
    margin-top: 1rem;
  }

  .editorial + .button {
    margin-top: 1rem;
  }
}

@each $name, $color in $colors {
  .teaser--#{$name} {
    @include block-spacing;
    border-color: $color;
    background-color: $color;
    @if (contrast($color, color(wildcat-black)) < 4.5) {
      @include usescheme($scheme-dark);
    }
  }
}
