@charset 'UTF-8';
// Default Variables
// Slick icon entity codes outputs the following
// '\2190' outputs ascii character '←'
// '\2192' outputs ascii character '→'
// '\2022' outputs ascii character '•'
$slick-font-path: './fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: './' !default;
$slick-arrow-color: color(wildcat-white) !default;
$slick-dot-color: color(wildcat-black) !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: .75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: .25 !default;

@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  } @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  } @else {
    @return url($slick-font-path + $url);
  }
}

// Slider 

.slick-list {
  .slick-loading & {
    background: color(wildcat-white) slick-image-url('ajax-loader.gif') center center no-repeat;
  }
}

// Icons 

@if $slick-font-family == 'slick' {
  @font-face {
    font-family: 'slick';
    font-style: normal;
    font-weight: normal;
    src: slick-font-url('slick.eot');
    src: slick-font-url('slick.eot?#iefix') format('embedded-opentype'), slick-font-url('slick.woff') format('woff'), slick-font-url('slick.ttf') format('truetype'), slick-font-url('slick.svg#slick') format('svg'); // sass-lint:disable-line no-duplicate-properties
  }
}

// Arrows 

.slick-prev,
.slick-next {
  display: block;
  position: absolute;
  top: 50%;
  width: rr-gridbase(4);
  height: rr-gridbase(4);
  padding: 0;
  transform: translate(0, -50%);
  border: 0;
  outline: 0;
  font-size: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0;

    &::before {
      opacity: 1;
    }
  }

  &.slick-disabled::before {
    opacity: .5;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'iconfont';
    font-size: 1rem;
    line-height: 1;
    opacity: $slick-opacity-default;
  }

  @include rr-break-directive(m) {
    width: rr-gridbase(8);
    height: rr-gridbase(8);

    &::before {
      font-size: 1.625rem;
    }
  }
}

button.slick-prev {
  left: -60px;
  z-index: 1000;

  [dir='rtl'] & {
    right: -60px;
    left: auto;
  }

  &::before {
    content: $icon-angle-left;

    [dir='rtl'] & {
      content: $icon-angle-right;
    }
  }
}

button.slick-next {
  right: -60px;

  [dir='rtl'] & {
    right: auto;
    left: -60px;
  }

  &::before {
    content: $icon-angle-right;

    [dir='rtl'] & {
      content: $icon-angle-left;
    }
  }
}

// Dots 

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      border: 0;
      outline: none;
      background: transparent;
      color: transparent;
      font-size: 0;
      line-height: 0;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;

        &::before {
          opacity: $slick-opacity-on-hover;
        }
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        content: $slick-dot-character;
        opacity: $slick-opacity-not-active;
      }
    }

    &.slick-active button::before {
      opacity: $slick-opacity-default;
    }
  }
}

.carousel {
  .slick-next {
    right: 0;
    left: auto;
  }

  .slick-prev {
    right: auto;
    left: 0;
  }
}

.carousel.carousel--center {
  @include rr-break-directive(l) {
    figure {
      margin: 0 auto;
    }

    figcaption {
      max-height: 0;
      margin-top: 0;
      transition: .3s max-height ease-in-out;
      overflow: hidden;
      z-index: -1;
    }

    .slick-list {
      overflow-x: hidden;
    }

    .slick-track {
      padding-top: 39px; // Provide a bit of overflow room for the center image scaling
    }

    .slick-slide {
      position: relative;
      transition: 500ms ease;
      z-index: 200;

      img {
        transition: 300ms ease;
        opacity: .46;
      }
    }

    .slick-current {
      padding-bottom: 3rem;
      transform: scale(1.105);
      z-index: 1000;

      img {
        opacity: 1;
      }

      // We'd rather the font sizes not scale
      // with the slide, but if we just reverse
      // the scale factor on the figcaption we
      // will end up with undesirable padding
      // around the caption. Instead, we use 
      // ems to adjust the typeface.

      figcaption {
        max-height: 500px;

        h3,
        p {
          font-size: .905em;
        }
      }
    }

    .slick-slider {
      transition: opacity .3s ease-out;
      opacity: 0;

      &.slick-initialized {
        opacity: 1;
      }
    }

    .slick-next,
    .slick-prev {
      background-color: transparent;

      &::before {
        color: color(wildcat-white);
      }
    }
  }
}
