.cta {
  @include block-header-font;
  @include block-spacing;

  .editorial {
    margin-bottom: rr-gridbase(3);
  }

  &.cta--dark {
    @include usescheme($scheme-dark);
    background-color: color(wildcat-blue);
  }

  &.cta--light {
    border-color: color(blue-gray);
    background-color: color(blue-gray);
  }

  /* 
  @at-root .grid__column > #{&} {
    display: flex;
    flex-direction: column;
    height: 100%;

    :last-child {
      margin-top: auto; 
    }
  }
  */
}
