.editorial {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  .editorial__aside {
    max-width: 100%;
    margin: 0 auto rr-gridbase(2);
    transition: .3s max-width ease-in-out;
  }

  strong,
  b {
    font-weight: 500;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  ol,
  ul {
    li {
      @include rr-font-compute(r, medium);
      margin-bottom: rr-gridbase();
    }
  }

  a.button,
  button {
    background-image: none;
  }

  @include rr-break-directive(m) {
    .editorial__aside {
      &.align-left {
        max-width: 50%;
        margin: 0 rr-gridbase(2) rr-gridbase(2) 0;
        float: left;
      }

      &.align-right {
        max-width: 50%;
        margin: 0 0 rr-gridbase(2) rr-gridbase(2);
        float: right;
      }
    }
  }

  @include rr-break-directive(l) {
    .editorial__aside {
      &.align-left {
        max-width: 40%;
        margin: 0 rr-gridbase(3) rr-gridbase(3) 0;
      }

      &.align-right {
        max-width: 40%;
        margin: 0 0 rr-gridbase(3) rr-gridbase(3);
      }
    }
  }

  @include rr-break-directive(xl) {
    .editorial__aside {
      &.align-left {
        max-width: 40%;
        margin: 0 rr-gridbase(3) rr-gridbase(3) 0;
      }

      &.align-right {
        max-width: 40%;
        margin: 0 0 rr-gridbase(4) rr-gridbase(4);
      }
    }
  }
}

