.pullquote {
  @include block-spacing($border-color: transparent);

  &__quote {
    p {
      @include rr-font-compute(4xl, medium);
      margin-top: 0;
      font-family: $font-mercury;
      font-style: italic;
      font-weight: 500;

      &::before,
      &::after {
        display: inline-block;
        position: relative;
        top: -.3em;
        color: color(wildcat-blue);
        font-family: iconfont;
        font-size: .5em;
        font-style: normal;
        vertical-align: top;
      }

      &::before {
        margin-right: .5em;
        content: $icon-quote-open;
      }

      &::after {
        position: relative;
        right: -2.1em;
        width: 0;
        margin-left: -1.6em;
        content: $icon-quote-close;
      }
    }
  }

  &__meta {
    position: relative;
    margin-top: rr-gridbase(4);
    padding-left: 7.8627rem;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 6.25rem;
      height: auto;
    }
  }

  &__attribution {
    @include divider;
    display: block;
    position: relative;
    min-height: 6.25rem;
    padding-top: rr-gridbase(3);
  }

  &__first-line {
    @include rr-font-compute(2xl, tight);
    display: block;
    font-style: normal;
    font-weight: 600;
  }

  &__second-line {
    @include rr-font-compute(xl, medium);
    display: block;
  }

  $root: &;

  &--dark {
    @include usescheme($scheme-dark);
    padding: rr-gridbase(4);
    border-color: color(wildcat-blue);
    background-color: color(wildcat-blue);

    p::before,
    p::after {
      color: color(wildcat-white);
    }
  }

  &--brief {
    #{$root}__quote p {
      @include rr-font-compute(2xl, medium);
    }

    #{$root}__meta {
      margin-top: rr-gridbase(2);
      padding-left: 0;

      img {
        display: none;
      }
    }

    #{$root}__attribution {
      display: block;
      position: relative;
      min-height: auto;
      padding-top: rr-gridbase(2);
    }

    #{$root}__first-line {
      @include rr-font-compute(xl, tight);
    }

    #{$root}__second-line {
      @include rr-font-compute(l, medium);
    }
  }
}
