.pulltext {
  @include block-spacing($border-color: transparent);

  &__content {
    p {
      @include rr-font-compute(4xl, medium);
      margin-top: 0;
      font-family: $font-mercury;
      font-style: italic;
      font-weight: 500;
    }
  }

  $root: &;

  &--dark {
    @include usescheme($scheme-dark);
    padding: rr-gridbase(4);
    border-color: color(wildcat-blue);
    background-color: color(wildcat-blue);
  }

  &--brief {
    #{$root}__content p {
      @include rr-font-compute(2xl, medium);
    }
  }
}
