.slab {
  @include rr-slab;

  &.slab--thin {
    padding-top: rr-gridbase(3);
    padding-bottom: rr-gridbase(3);
  }
}

.slab__wrapper {
  @include rr-slab-wrapper;
}

$skins: transparent;
@each $name, $color in $colors {
  .slab--#{$name} {
    background-color: $color;
    @if (contrast($color, color(wildcat-black)) < 4.5) {
      @include usescheme($scheme-dark);
    }

    .heading--display span {
      background-color: $color;
    }
  }
  $skins: append($skins, slab--#{$name});
}

@include rr-slab-adjacency($style-list: $skins);
