.page-header.page-header--split {
  padding: 0;
  background-color: color(blue-gray);
  $colors: light-gray wildcat-blue dark-blue;

  @each $color in $colors {
    &.slab--#{$color} {
      padding-bottom: 0;
      border-width: 0;
      background-color: color($color);
    }
  }

  .page-header__content {
    padding: rr-gridbase(2) rr-prop-for-breakpoint(s, offset);
    padding-bottom: rr-gridbase(2);
    border-bottom: 4px color(light-blue) solid;
  }

  .slab__wrapper {
    padding: 0;
    border-width: 0;
  }

  .cta-group {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    a {
      margin-bottom: rr-gridbase(2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include rr-break-directive(l) {
    .page-header--split__hero {
      width: 56%;
      margin-left: auto;
    }

    .slab__wrapper {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      align-items: center;
      width: 100%;
      max-width: $global-width;
      transform: translateX(-50%);
      overflow: hidden;
    }

    .page-header__content {
      width: 50%;
      max-height: 100%;
      padding: rr-gridbase(4) rr-gridbase(6);
      background-color: color(wildcat-blue);
      @include usescheme($scheme-dark);
    }

    &.slab--light-gray {
      .page-header__content {
        background-color: color(dark-blue);
        @include usescheme($scheme-dark);
      }
    }

    &.slab--dark-blue {
      .page-header__content {
        background-color: color(wildcat-white);
        @include usescheme($scheme-light);
      }
    }

    &.slab--wildcat-blue {
      .page-header__content {
        background-color: color(wildcat-white);
        @include usescheme($scheme-light);
      }
    }
  }
}
